
.btn {
    /* link and visited special states are for anchor elements (<a>) */
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        // Always put more padding on the side for buttons/a tags. Just looks better
        padding: 1.5rem 4rem;
        // Set btn component display to inline-block, so that it can always be 
        // centered with text-align: center on the parent element.
        display: inline-block;
        border-radius: 10rem;
        color: $color-grey-dark;
        position: relative;
        font-size: $default-font-size;

        border: none;
        box-shadow: 0 1rem 2rem rgba($color-black , 0.2);

        transition: all .2s;

        // Change for <button> element
        border: none;
        cursor: pointer;

    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        /* Automatically the styles of the 0% before the animation starts */
        animation-fill-mode: backwards;
    }

    &--white {
        &:link,
        &:visited {
            background-color: white;
        }
    
        &::after {
            background-color: white;
        }
    }

    &--green {
        &:link,
        &:visited {
            background-color: $color-primary;
            color: $color-white;
        }
    
        &::after {
            background-color: $color-primary;
        }

    }


    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        // display: inline-block here is not actually necessary
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        // Set position to absolute so that it occupies the same space.
        // Position of the base button IS set to relative
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        transition: all .4s;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black , 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black , 0.15);
        transform: translateY(0px);
    }
}